* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  border: 2px solid #eee;
  border-radius: 100px;
  text-align: center;
  box-shadow: 5px 5px #fff;
}

.title {
  font-size: 64px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.boder_top {
  border-top: 1px solid #ccc;
}
.boder_bottom {
  border-bottom: 1px solid #ccc;
}

.teammember {
  text-align: center;
}

.center_wrapper {
  display: flex;
  justify-content: center;
}

.sub_section {
  padding: 25px 0px;
}

.end {
  min-height: 20vh;
}
